html, body {
  background-color:antiquewhite;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.h1 {
  margin-left: 35%;
}

.main {
  margin-left: 40%;
}

.btnTodas {
  margin-top: 5%;
  margin-left: 25%;
  background-color: coral;
}

.btnPend {
  margin-top: 5%;
  margin-left: 5%;
  background-color:coral;
}

.btnConc {
  margin-top: 5%;
  margin-left: 5%;
  background-color:coral;
}

.btnInser {
  margin-top: 5%;
  margin-left: 5%;
  background-color:coral;
}